*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --DarkPurple: #1b00445e;
    --Purple: #5727A3;
    --SemiLightPurple: #9153f44e;
    --LightPurple: #c1a6e9; 
    --textColor: white;
    --purpleShadow: 0px 0px 5px 5px var(--Purple);
}

#container{
    background: url("./images/background.jpg");
    background-position: 70%, 30%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* position: relative; */
    text-align: center;
    width: 100vw;
    height: 100vh;
}

header{
    color: var(--textColor);
    margin-bottom: 10px;
    padding: 20px;
}

#application-area{
    display: flex;
    flex-direction: column;
    box-shadow: var(--purpleShadow);
    border-radius: 10px;
    height: 90%;
    width: 60%;
    background-color: var(--DarkPurple);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-file{
    max-width: 100%;
    overflow-y: auto;
    min-height: 60vh;
    overflow-x: hidden;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #5627a3bf; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

#top-menu{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--DarkPurple);
    padding: 5px;
    box-shadow: var(--purpleShadow);
    border-radius: 5px;
    display: flex;
    width: 95%;
    height: 100px;
    margin-bottom: 20px;
    justify-content: center;
    /* background-color: var(--LightPurple); */
}
#top-menu ul{
    width: 100%;
    list-style:none;
    display: flex;
    justify-content: space-around;
}
#top-menu li p{
    color: var(--textColor);
}

#textWriter{
    padding: 5px;
    font-size: 20px;
    border-radius: 5px ;
    color: white;
    background-color: var(--LightPurple);
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 600px;

}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.buttons i{
    margin-left: 20px;
    color: white;
}
.buttons p{
    font-weight: bold;
    color: rgb(9, 1, 1);
    margin-left: 5px;
}

/* note design */

.note{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--SemiLightPurple);
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    min-height: 100px;
    border-radius: 8px;

}
.addNote{
    animation: addNote 0.3s linear;
}

.remove{
    animation: removeNote 0.5s linear;
    animation-iteration-count:infinite;
}

 @keyframes addNote {
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
    50%{
        transform: translateX(-15%);
        opacity: 0.8;
    }  
    0%{
        transform: translateX(-30%);
        opacity: 0.6;
    }

 }

@keyframes removeNote {
    100%{
        transform: translateX(100%);
        opacity: 1;
    }
    75%{
        transform: translateX(60%);
        opacity: 0.8;
    } 
    50%{
        transform: translateX(30%);
        opacity: 0.8;
    }
    25%{
        transform: translateX(15%);
        opacity: 0.8;
    } 
    0%{
        transform: translateX(0%);
        opacity: 0.6;
    }

 }

.noteText{
    min-height: 100px;
    width: 80%;
    text-align: justify;


}

.buttons{
    width: 20%;
}
.fa-solid{
    cursor: pointer;
}

.buttonsTop:hover{
    background-color: var(--SemiLightPurple);
    height: 100%;
    border-radius: 5px;
    transition: 500ms;
    
    
}

.fa-pen-to-square:hover{
    background-color: var(--SemiLightPurple);
    padding: 20px;
    border-radius: 5px;
    transition: 500ms;
}
.fa-check:hover{
    background-color: var(--SemiLightPurple);
    padding: 20px;
    border-radius: 5px;
    transition: 500ms;

}
.fa-trash-can:hover{
    background-color: var(--SemiLightPurple);
    padding: 20px;
    border-radius: 5px;
    transition: 500ms;

}

.fa-regular{
    cursor: pointer;
}

.noteText p{
    word-wrap: break-word;
    min-height: 100px;
    font-weight: bold;
    font-size: 20px;
    color: var(--textColor);
    margin-left: 15px;

}


/* delete button align */

.deleteText{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteText i{
    margin: 10px;
    color: white;
}
/* hide note */

.hide{
    display: none;
}
.taskComplete{
    text-decoration: line-through;
}

@media only screen and (max-width: 1600px){
    #application-area{
        width: 80%;
    }
    
}
@media only screen and (max-width: 986px){

    .fa-pen-to-square:hover{
        background-color: var(--SemiLightPurple);
        padding: 0;
        border-radius: 5px;
        transition: 500ms;
    }
    .fa-check:hover{
        background-color: var(--SemiLightPurple);
        padding: 0;
        border-radius: 5px;
        transition: 500ms;
    
    }
    .fa-trash-can:hover{
        background-color: var(--SemiLightPurple);
        padding: 0;
        border-radius: 5px;
        transition: 500ms;
    
    }

    .deleteText{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 600px){
    #container{
        background-position: 80%, 0%;
    }
    #application-area{
        width: 90%;
    }
}
