*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --DarkPurple: #1B0044;
    --Purple: #5727A3;
    --SemiLightPurple: #9153F4;
    --LightPurple: #D6C5F0; 
}

#container{
    border: solid;
    position: relative;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

header{
    margin-bottom: 10px;
}

#application-area{
    overflow: auto;
    border-radius: 10px;
    padding: 20px;
    height: 90%;
    width: 60%;
    background-color: var(--LightPurple);
    border: 5px solid var(--DarkPurple);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top-menu{
    padding: 20px;
    border: solid;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    background-color: var(--LightPurple);
}
#top-menu ul{
    width: 100%;
    list-style:none;
    display: flex;
    justify-content: space-around;
}

#textWriter{
    border-radius: 5px ;
    background-color: rgb(227, 223, 223);
    width: 100%;
    padding: 20px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.buttons img{
    width:30px;
}
.buttons p{
    font-weight: bold;
    color: rgb(9, 1, 1);
    margin-left: 5px;
}

/* note design */

.note{
    display: flex;
    margin-top: 10px;
    border: solid;
    border-radius: 5px;
    width: 100%;
    height: 100px;
}

.noteText{
    display: flex;
    height: 100px;
    width: 85%;

}

.delete-button{
    height: 100px;
    width: 15%;
    cursor: pointer;
}

.noteText p{
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    margin-left: 5px;
}




/* delete button align */

.deleteText{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* hide note */

.hide{
    display: none;
}
