*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --DarkPurple: #1b00445e;
    --Purple: #5727A3;
    --SemiLightPurple: #9153f44e;
    --LightPurple: #c1a6e9; 
    --textColor: white;
    --purpleShadow: 0px 0px 5px 5px var(--Purple);
}

#container{
    background: url("./images/background.jpg");
    background-position: 70%, 30%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* position: relative; */
    text-align: center;
    width: 100vw;
    height: 100vh;
}

header{
    color: var(--textColor);
    margin-bottom: 10px;
}

#application-area{
    display: flex;
    flex-direction: column;
    box-shadow: var(--purpleShadow);
    border-radius: 10px;
    padding: 20px;
    height: 90%;
    width: 60%;
    background-color: var(--DarkPurple);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-file{
    max-width: 100%;
    overflow-y: auto;
}

#top-menu{
    background-color: var(--DarkPurple);
    padding: 20px;
    box-shadow: var(--purpleShadow);
    border-radius: 5px;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    /* background-color: var(--LightPurple); */
}
#top-menu ul{
    width: 100%;
    list-style:none;
    display: flex;
    justify-content: space-around;
}
#top-menu li p{
    color: var(--textColor);
}

#textWriter{
    padding: 5px;
    font-size: 20px;
    border-radius: 5px ;
    color: white;
    background-color: var(--LightPurple);
    width: 100%;
    height: 600px;

}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.buttons i{
    margin-left: 20px;
    color: white;
}
.buttons p{
    font-weight: bold;
    color: rgb(9, 1, 1);
    margin-left: 5px;
}

/* note design */

.note{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--SemiLightPurple);
    display: flex;
    margin-top: 10px;
    width: 100%;
    min-height: 100px;
    border-radius: 8px;
}

.noteText{
    min-height: 100px;
    width: 80%;
    text-align: center;


}

.delete-button{
    width: 20%;
}
.fa-solid{
    cursor: pointer;
}
.fa-regular{
    cursor: pointer;
}

.noteText p{
    display: flex;
    align-items: center;
    min-height: 100px;
    font-weight: bold;
    font-size: 20px;
    color: var(--textColor);
    /* display: flex;
    align-items: center; */
    margin-left: 15px;

}


/* delete button align */

.deleteText{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteText i{
    margin: 10px;
    color: white;
}
/* hide note */

.hide{
    display: none;
}
.taskComplete{
    text-decoration: line-through;
}

/* @media only screen and (max-height: 852px){
    .text-file{
    max-height: 75%;
    }
} */
@media only screen and (max-width: 1600px){
    #application-area{
        width: 80%;
    }
    
}
@media only screen and (max-width: 986px){
    .deleteText{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 600px){
    #container{
        background-position: 80%, 0%;
    }
    #application-area{
        width: 90%;
    }
}
